.cell {
    width: 40px;
    height: 40px;
    background-color: #cccccc;
    margin: 2px;
    float: left;
    cursor: pointer;
    position: relative;
}
.open {
    background-color: #f7f7f7;
}
.open.has-ring {
    background-color: transparent;
}
.ring {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
    background: #ffe23c url(../../assets/img/logo-ring.png) no-repeat center center;
    background-size: 100%;
}